@tailwind base;

@layer base {
  h1 {
    @apply text-2xl font-medium;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}

@tailwind components;
@tailwind utilities;

body {
  @apply antialiased text-gray-900 dark:text-darkprimary-100 tracking-tight bg-white dark:bg-darkprimary-900 overflow-hidden;
}

.noScrollbar::-webkit-scrollbar-track {
  @apply hidden;
}
.noScrollbar::-webkit-scrollbar {
  @apply hidden;
}
.noScrollbar::-webkit-scrollbar-thumb {
  @apply hidden;
}

.box {
  @apply bg-gray-200 dark:bg-darkprimary-800 border-2 h-16 my-1 mx-2 sm:mx-10 rounded-2xl border-gray-500 px-4 text-xl font-medium transition duration-300 ease-in-out hover:border-opacity-50 hover:shadow-lg;
}

.boxSq {
  @apply bg-gray-200 dark:bg-darkprimary-800 border-2 h-20 my-1 mx-2 rounded-2xl border-gray-500 px-4 text-xl font-medium transition duration-300 ease-in-out hover:border-opacity-50 hover:shadow-lg;
}

.nominated {
  @apply bg-secondary-100 dark:bg-secondary-200 dark:text-darkprimary-900;
}

.boxless {
  @apply py-2 px-4 font-semibold text-gray-700 my-2 transition duration-300 ease-in-out hover:shadow-lg;
}

.box:disabled {
  @apply text-opacity-50 opacity-50 cursor-not-allowed;
}

.btn-primary {
  @apply border-primary-700 bg-primary-100 dark:bg-primary-900;
}

.btn-secondary {
  @apply border-secondary-700 bg-secondary-100 dark:bg-secondary-900;
}

.btn-blue {
  @apply border-blue-700 bg-blue-100 dark:bg-blue-900;
}

.btn-red {
  @apply border-red-600 bg-red-100 dark:bg-red-900;
}

.btn-green {
  @apply border-green-600 bg-green-100 dark:bg-green-900;
}

.btn-orange {
  @apply border-orange-600 bg-orange-100 dark:bg-orange-900;
}

.btn-purple {
  @apply border-indigo-600 bg-indigo-100 dark:bg-indigo-900;
}

.info {
  @apply focus:ring-0 focus:outline-1 mx-0;
}

.bg-blue {
  @apply bg-blue-700;
}

.info-purple {
  @apply border-indigo-600;
}

.bg-purple {
  @apply bg-indigo-600;
}

.info-orange {
  @apply border-orange-600;
}

.bg-orange {
  @apply bg-orange-600;
}

.btn-round {
  @apply h-12 w-12 rounded-full shadow-md text-white font-extrabold text-2xl hover:shadow-2xl;
}

.btn-round-orange {
  @apply bg-orange-600  hover:bg-orange-700;
}

.btn-round:disabled {
  @apply bg-gray-500 bg-opacity-25 cursor-not-allowed;
}

.mobile-height {
  @apply h-[100dvh];
}

.pulsate {
  animation-name: pulsate;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
  animation-iteration-count: 5;
  animation-direction: alternate;
}

@keyframes pulsate {
  0% {
    opacity: 1;
    transform: scale(1, 1);
  }

  50% {
    opacity: 0.9;
    transform: scale(1.03, 1.03);
  }

  100% {
    opacity: 1;
    transform: scale(0.97, 0.97);
  }
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

.meterGreen::-webkit-meter-optimum-value {
  @apply bg-green-300;
}
.meterYellow::-webkit-meter-optimum-value {
  @apply bg-yellow-300;
}
.meterOrange::-webkit-meter-optimum-value {
  @apply bg-orange-300;
}
.meterRed::-webkit-meter-optimum-value {
  @apply bg-red-300;
}
.meterDarkred::-webkit-meter-optimum-value {
  @apply bg-[#FF0000];
}

.loader {
  @apply bg-darkprimary-300/30 dark:bg-darkprimary-700/30 backdrop-blur-[5px] overflow-hidden w-full h-full fixed top-0 left-0 flex items-center justify-center content-center z-[10000];
}

.loaderElement {
  @apply rounded-full border-[5px] border-solid border-[#555] m-3;
}

.loaderElement:nth-child(1) {
  -webkit-animation: preloader 0.6s ease-in-out alternate infinite;
  animation: preloader 0.6s ease-in-out alternate infinite;
}

.loaderElement:nth-child(2) {
  -webkit-animation: preloader 0.6s ease-in-out alternate 0.2s infinite;
  animation: preloader 0.6s ease-in-out alternate 0.2s infinite;
}

.loaderElement:nth-child(3) {
  -webkit-animation: preloader 0.6s ease-in-out alternate 0.4s infinite;
  animation: preloader 0.6s ease-in-out alternate 0.4s infinite;
}

@-webkit-keyframes preloader {
  100% {
    transform: scale(2);
  }
}

@keyframes preloader {
  100% {
    transform: scale(2);
  }
}
