@tailwind base;

@layer base {
  h1 {
    @apply text-2xl font-medium;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}

@tailwind components;
@tailwind utilities;

body {
  @apply antialiased text-gray-900 dark:text-darkprimary-100 tracking-tight bg-white dark:bg-darkprimary-900 overflow-x-hidden h-[100dvh];
}

.box {
  @apply bg-gray-200 dark:bg-darkprimary-800 border-2 h-16 my-1 mx-2 sm:mx-10 rounded-2xl border-gray-500 px-4 text-xl font-medium transition duration-300 ease-in-out hover:border-opacity-50 hover:shadow-lg;
}

.boxSq {
  @apply bg-gray-200 dark:bg-darkprimary-800 border-2 h-20 my-1 mx-2 rounded-2xl border-gray-500 px-4 text-xl font-medium transition duration-300 ease-in-out hover:border-opacity-50 hover:shadow-lg;
}

.nominated {
  @apply bg-secondary-100 dark:bg-secondary-200 dark:text-darkprimary-900;
}

.boxless {
  @apply py-2 px-4 font-semibold text-gray-700 my-2 transition duration-300 ease-in-out hover:shadow-lg;
}

.box:disabled {
  @apply text-opacity-50 opacity-50 cursor-not-allowed;
}

.btn-primary {
  @apply border-primary-700 bg-primary-100 dark:bg-primary-900;
}

.btn-secondary {
  @apply border-secondary-700 bg-secondary-100 dark:bg-secondary-900;
}

.btn-blue {
  @apply border-blue-700 bg-blue-100 dark:bg-blue-900;
}

.btn-red {
  @apply border-red-600 bg-red-100 dark:bg-red-900;
}

.btn-green {
  @apply border-green-600 bg-green-100 dark:bg-green-900;
}

.btn-orange {
  @apply border-orange-600 bg-orange-100 dark:bg-orange-900;
}

.btn-purple {
  @apply border-indigo-600 bg-indigo-100 dark:bg-indigo-900;
}

.info {
  @apply focus:ring-0 focus:outline-1 mx-0;
}

.bg-blue {
  @apply bg-blue-700;
}

.info-purple {
  @apply border-indigo-600;
}

.bg-purple {
  @apply bg-indigo-600;
}

.info-orange {
  @apply border-orange-600;
}

.bg-orange {
  @apply bg-orange-600;
}

.btn-round {
  @apply h-12 w-12 rounded-full shadow-md text-white font-extrabold text-2xl hover:shadow-2xl;
}

.btn-round-orange {
  @apply bg-orange-600  hover:bg-orange-700;
}

.btn-round:disabled {
  @apply bg-gray-500 bg-opacity-25 cursor-not-allowed;
}

.mobile-height {
  @apply h-screen;
}

.page {
  position: absolute;
  left: 0px;
  right: 0px;
}

.page-enter {
  opacity: 0;
  transform: translateY(100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: translateY(0%);
}

.page-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 300ms, transform 300ms;
}

.pulsate {
  animation-name: pulsate;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
  animation-iteration-count: 5;
  animation-direction: alternate;
}

@keyframes pulsate {
  0% {
    opacity: 1;
    transform: scale(1, 1);
  }

  50% {
    opacity: 0.9;
    transform: scale(1.03, 1.03);
  }

  100% {
    opacity: 1;
    transform: scale(0.97, 0.97);
  }
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}
